@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
}

body {
  background: #0a0a0a;
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 480px;
  margin: 0 auto;
}
